<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">

  <title>TODO App - Rejestracja</title>

  <link th:href="@{/css/register.css}" rel="stylesheet">
</head>

<body>
<section>
  <div class="notifications" id="notifications" th:if="${error} or ${success}">
    <div class="error" th:if="${error}">
      <ion-icon name="thumbs-down"></ion-icon>
      <div class="notificationMessage" th:text="${error}"></div>
    </div>

    <div class="success" th:if="${success}">
      <ion-icon name="thumbs-up"></ion-icon>
      <div class="notificationMessage" th:text="${success}"></div>
    </div>
  </div>

  <a class="home" th:href="@{/}">
    <ion-icon name="home-outline"></ion-icon>
  </a>


  <div class="form-box">
    <div class="form_value">
      <form method="post" th:action="@{/register}" th:object="${user}">
        <h2>Zakładanie konta</h2>

        <div class="inputbox">
          <ion-icon name="mail-outline"></ion-icon>
          <input name="email" placeholder="Email" autocomplete="email" required>
        </div>

        <div class="inputbox">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <input id="password" name="password" type="password" autocomplete="new-password" placeholder="Hasło" required>
        </div>

        <div class="inputbox">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <input id="confirm_password" name="confirm_password" type="password" autocomplete="new-password" placeholder="Powtórz hasło" required>
        </div>

        <button class="login_button">Załóż konto</button>
        <div class="register">
          <p>Posiadasz już konto? <a th:href="@{/login}">Zaloguj się</a></p>
        </div>
      </form>
    </div>
  </div>
</section>

<script th:src="@{/js/notifications.js}"></script>
<script th:src="@{/js/password-validator.js}"></script>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>
</html>